/*SChange the sidebar and nav stylig a bit*/
nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5) ;
}

.col-wrapper .container {
	border-left: 1px solid rgba(0, 0, 0, 0.5) ;
}

/*CV Styling*/
.container .cv {
	width: 100% ;
}

.container .cv a {
	color: #2a7ae2 ;
	font-family: Monaco,Menlo,monospace,sans-serif;
	font-size: 0.9em ;
}

.container table {
	/*margin-top: -1em ;*/
	width: 100% ;
}

.container .cv .cv-name {
	width: 100% ;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1) ;
}

.container .cv .cv-name {
	/*margin-top: -1em ;*/
	width: 100% ;
}

.container .cv .cv-name table {
	/*margin-top: -1em ;*/
	width: 80% ;
}

.container h1 {
	margin-bottom: 0 ;
}

/*Projects*/
.container .cv .projects {
	width: 100% ;
}

.container .cv .projects .project-date {
	float: right ;
}
