/*Blog Style*/
body {
	font-family: 'Actor' ;
}

h1 {
	font-size: 2em;
}
p {
	font-size: 20px;
	line-height: 1;
	color: #333;
}

/*General hyperlink styling*/
a {
	text-decoration: none;
	color: #727272;
}

a:hover {
	text-decoration: underline;
	cursor: pointer ;
	color: #0056b3;
}

.col-wrapper {
	height: 100vh;
}

.left-sidebar {
	text-align: center ;
	/*background: #F0EAD6 ;*/
	background: #343A40 ;
}

.left-sidebar a {
	color: rgba(255, 255, 255, 0.5) ;
	/*color: rgb(132, 109, 99) ;*/
}

.left-sidebar a:hover {
	text-decoration: none;
	cursor: pointer ;
	color: #0056b3;
}

.position-fixed-col {
	position: fixed !important ;
	margin: auto ;
}

@media (max-width: 576px){
    .position-fixed-col   {
        position:unset !important;
    }
}

.portrait {
	margin-top: 11% ;
}
.portrait-picture {
	border-radius: 50% ;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, 0.3) ;
	/*border: 5px solid rgba(132, 109, 99) ;*/
}

.first-name {
	color: rgba(255, 255, 255, 0.5);
	/*color: rgba(132, 109, 99) ;*/
	font-size: 30px ;
	margin-top: 5% ;
}

.media-list * {
	text-align: center;
	display: inline;
	/*margin-bottom: 0.5re ;*/
}

/*Top navigation bar*/
.nav-container {
	margin-top: 4% ;
	margin-bottom: 3% ;
}


.custom-nav {
	display: inline ;
	margin: auto ;
}

/*
.custom-nav * {
	text-align: right ;
}*/

.nav-content {
	padding: 0 ;
	font-weight: bold ;
	margin-bottom: 0.5rm ;
}

/***************************
Posts
**************************/
/*
.main-content {
	background: #FFFCF4 ;
}
*/
.content-container {
	margin-top: 5% ;
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
}

.post-container {
	overflow: scroll;
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
}

/* Hide the ugly scroll-bars*/
.post-container::-webkit-scrollbar {
	display: none ;
}

.card-container {
	font-family: Monospace ;
	margin-top: 2% ;
}

.card-title {
	font-size: 19px;
	letter-spacing: 0px;
	line-height: 1.3em;
	margin-bottom: -0.09rem ;
}

.card-subtitle {
	font-size: 19px ;
	margin-top: 0px ;
}

.card-text {
	font-size: 19px ;
}

.card-header {
	background: none ;
	padding: 0px 0px 0px 0px ;
}

.post-card {
	border: none ;
	/*border-bottom: 1px solid rgba(0, 0, 0, 0.125) ;*/
	border-radius: 0px ;
}

.post-link {
	color: #2a7ae2;
}

.project-container {
	/*margin-top: 5% ;*/
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
}

.project-card {
	border: none ;
	/*border-bottom: 1px solid rgba(0, 0, 0, 0.125) ;*/
	border-radius: 0px ;
}