/*Blog Style*/
body {
	/*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
	font-family: 'Actor' ;
	/*margin: 60px auto;
	width: 70%;*/
}

h1 {
	font-size: 2em;
}
p {
	font-size: 20px;
	line-height: 1;
	color: #333;
}

/*General hyperlink styling*/
a {
	text-decoration: none;
	color: #727272;
}

a:hover {
	text-decoration: underline;
	cursor: pointer ;
	color: #0056b3;
}

/*Top navigation bar*/
.custom-nav {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;
}

.col-wrapper {
	height: 100vh;
}

.left-sidebar {
	text-align: center ;
}

.left-sidebar a {
	color: rgba(255, 255, 255, 0.5) ;
}

.left-sidebar a:hover {
	text-decoration: none;
	cursor: pointer ;
	color: #0056b3;
}

.portrait {
	margin-top: 11% ;
}
.portrait-picture {
	border-radius: 50% ;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, 0.3) ;
}

.first-name {
	color: rgba(255, 255, 255, 0.5);
	font-size: 30px ;
	margin-top: 5% ;
}

.media-list * {
	text-align: center;
	display: inline;
	margin-bottom: 0.5re ;
}

/*
.col-wrapper .left-sidebar .icon {
	opacity: 0.5 ;
	vertical-align: middle ;
	height: 32px ;
	width: 32px ;
}
*/
/***************************
Posts
**************************/
.content-container {
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
}

.post-container {
	overflow: scroll;
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
}

/* Hide the ugly scroll-bars*/
.post-container::-webkit-scrollbar {
	display: none ;
}





/* Posts-List Style*/

ul.posts li {
	list-style: none;
}

.home h1 { margin-bottom: 25px; }

.posts { 
	padding-bottom: 0.5rem;
	padding-left: 1.0rem; 
}

/*.posts .post-wrapper .post-container {
	float: left;
	margin-left: 0.3em;
}*/

.post-thumbnail {
	float: left;
	width: 100%;
	height: 100%;
}

.post-thumbnail-img {
	margin: auto;
	height: auto;
	width: 100%;
}

.post-link {
	font-size: 20px;
	letter-spacing: 0px;
	line-height: 1.3em;
	color: #2a7ae2;
}

.post-date {
	display: block;
	font-size: 15px;
	line-height: 1.3em;
	color: #818181;
}

.post-tldr {
	display: block;
	font-size: 15px;
	line-height: 1.3em;
	color: #333;
}


/*Posts Style*/
.post-header {
	margin-top: 12px;
}

.post-header .meta {
	font-size: 15px;
	color: #818181;
	line-height: 1;
	/*margin-top: 5px;*/
	margin: 0px 0px 0px 0px;
}

.post-header h1 {
	font-size: 30px ;
	line-height: 1;
	margin: 0px 0px 0px 0px;
}

.post a {
	color: #2a7ae2;
}

.post p {
	line-height: 1.2;
}

