/*Blog Style*/
body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 60px auto;
    width: 70%;
	/*background-color: hsla(231, 15%, 13%, 1) ;*/
}

/*Top navigation bar*/
nav {
    border-bottom: 1px solid #d5d5d5;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

/*General hyperlink styling*/
a {
    text-decoration: none;
    color: #727272;
}

a:hover {
    text-decoration: underline;
	cursor: pointer ;
}


h1 {
    font-size: 3em;
}
p {
    font-size: 16px;
    line-height: 1;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 15px;
}

footer .icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    opacity: 0.5 ;
	vertical-align: middle ;
}

footer .icon:hover {
	opacity: 0.9 ;
}

footer a:hover {
	text-decoration: none ;
	cursor: pointer ;
}

.col-wrapper div {

	float: left ;
}

.col-wrapper ul {
	list-style: none;
}

.col-wrapper .left-sidebar {
	padding-right: 10px ;
	width: 20% ;
}

.col-wrapper .container {
	padding-left: 20px ;
	border-left: 1px solid rgba(0, 0, 0, 0.2) ;
	width:70% ;
	overflow: scroll ;
}

/* Hide the ugly scroll-bars*/
.col-wrapper .container::-webkit-scrollbar {
	display: none ;
}

.col-wrapper .portrait-picture {
	border-radius: 50% ;
}

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    /* fill: currentColor;*/
    fill: #2a7ae2 ;
	opacity: 0.6 ;
    padding: 5px 3px 2px 5px;
    vertical-align: text-bottom;
}

.svg-icon:hover {
	/* fill: rgba(0, 0, 0, 1.0) ; */
	opacity: 0.9 ;
}

/* Posts Style*/

ul.posts li {
    list-style: none;
}

.home h1 { margin-bottom: 25px; }

.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 20px;
  letter-spacing: 0px;
  line-height: 1;
  color: #2a7ae2;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}

.post-header {
    margin-top: 12px;
}

.post-header .meta {
    font-size: 15px;
    color: #818181;
    line-height: 1;
  /*margin-top: 5px;*/
    margin: 5px 0px 0px 0px;
}

.post-header h1 {
    font-size: 30px ;
    line-height: 1;
    margin: 0px 0px 0px 0px;
}

.post a {
    color: #2a7ae2;
}

.post p {
    line-height: 1.2;
}
