/*Blog Style*/
body {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 60px auto;
    width: 75%;
	/*background-color: hsla(231, 15%, 13%, 1) ;*/
}

/*Top navigation bar*/

.custom-nav {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;
	border-top: 1px solid rgba(0, 0, 0, 0.2) ;
}

footer ul {
    padding: 0px;
    list-style: none;
}
footer ul li {
    display: inline;
    margin-right: 20px;
}

/*General hyperlink styling*/
a {
    text-decoration: none;
    color: #727272;
}

a:hover {
	cursor: pointer ;
	color: #0056b3;
}


h1 {
    font-size: 3em;
}
p {
    font-size: 16px;
    line-height: 1;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 15px;
}

footer .icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    opacity: 0.5 ;
	vertical-align: middle ;
}

footer .icon:hover {
	opacity: 0.9 ;
}

footer a:hover {
	text-decoration: none ;
	cursor: pointer ;
}

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #2a7ae2 ;
	opacity: 0.6 ;
    padding: 5px 3px 2px 5px;
    vertical-align: text-bottom;
}

.svg-icon:hover {
	opacity: 0.9 ;
}

/* Posts Style*/

ul.posts li {
    list-style: none;
}

.post-header {
    margin-top: 12px;
}

.post-title {
	padding-bottom: 1%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;
	padding-left: 1rem;
}


.post-header .meta {
    font-size: 15px;
    color: #818181;
    line-height: 1;
    margin: 5px 0px 0px 0px;
}

.post-header h1 {
    font-size: 30px ;
    line-height: 1;
    margin: 0px 0px 0px 0px;
}

.post {
	padding-top: 1%;
	padding-left: 1rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;
}

.post a {
    color: #2a7ae2;
}

.post p {
    line-height: 1.2;
}

.media-list {
	text-align: center;
	
	float: none;
	padding-bottom: 0.5rem;
	padding-top: 0.5rem;
	border-top: 1px solid rgba(0, 0, 0, 0.2) ;
}

.icon{
	opacity: 0.5 ;
	vertical-align: middle ;
	height: 32px ;
	width: 32px ;
}

.icon:hover {
	opacity: 0.9 ;
	height: 32px ;
	width: 32px ;
}