/*Blog Style*/
body {
	font-family: 'Actor' ;
    margin: 60px auto;
    width: 75%;
}

/*General hyperlink styling*/
a {
    text-decoration: none;
    color: #727272;
}

a:hover {
	cursor: pointer ;
	color: #0056b3;
}


h1 {
    font-size: 3em;
}
p {
    font-size: 16px;
    line-height: 1;
    color: #333;
}

/*Top navigation bar*/
.top-bar {
	background: #FFFFFF ;
}
.custom-nav {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;
	border-top: 1px solid rgba(0, 0, 0, 0.2) ;
	padding: 0 ;
}

/* Posts Style*/
.post-header {
    margin-top: 12px;
}


.post-title {
	padding-bottom: 1%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;
	padding-left: 1rem;
}


.post-header .meta {
    font-size: 15px;
    color: #818181;
    line-height: 1;
    margin: 5px 0px 0px 0px;
}

.post-header h1 {
    font-size: 30px ;
    line-height: 1;
    margin: 0px 0px 0px 0px;
}

.post {
	padding-top: 1%;
	padding-left: 1rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;
}

.post a {
    color: #2a7ae2;
}

.post p {
    line-height: 1.2;
}

.media-list {
	
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	border-top: 1px solid rgba(0, 0, 0, 0.2) ;
}

.media-list * {
	text-align: center;
	display: inline ;	
}
.media-list a:hover {
	cursor: pointer ;
	color: #0056b3;
	text-decoration: none ;
}

.icon{
	opacity: 0.5 ;
	vertical-align: middle ;
	height: 32px ;
	width: 32px ;
}

.icon:hover {
	opacity: 0.9 ;
	height: 32px ;
	width: 32px ;
}