---
layout: home
title: Chinmay's Blog
---
<div class="row">
	<div class="col">
	
		<div class="header sticky-top bg-white" >
			<h1>Blog</h1>
		</div>

		<div class="popout-container">
			<div class="card flex-row flex-wrap mt-2 info-card bg-highlight">
				<div class="card-block">
					<p class="card-subtitle info-card-subtitle" style="padding-bottom: 5px;">A blog for documentation and active learning.</p>
				</div>
			</div>
		</div>
	
		
		<div class="content-container">
				{% for post in site.categories.post %}
				
					<div class="card-container">
						{% include blog-template.html %}
					</div>
				
				{% endfor %}
		</div>
	</div>
</div>