---
layout: about
title: Chinmay's Blog
---
<div class="home">
	<h1>Hi There!</h1>
	<p>I am writing this blog as a means for active learning. It's content will be whatever I am studying at that particular time.</p>
	<p>Although the content here will be accurate to the best of my knowledge, it is possible that there may be some mistakes. 
		If so, do point them out! As a selfish interest, I hope to get some free reviews and corrections on my posts!</p>
	<ul class="posts">
		{% for post in site.categories.post %}
	  		<li>
	  			<div class="post-wrapper">
						<div class="post-thumbnail">
							<img class="post-thumbnail-img" src="{{ post.thumbnail | prepend: site.thumbnail-url }}">
						</div>
						<div class="post-container">
							<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
							<span><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></span>
							{% if post.summary %}
								<!--br-->
								<span class="post-tldr">TL;DR: {{ post.tldr }}</span>
							{% endif %}
			  		</div>
	    		</div>
	  		</li>
		{% endfor %}
	</ul>
</div><!-- /.home -->
