---
layout: about
comments: false
title: Chinmay's Rants
---
<div class="row">
	<div class="col">
		<div class="content-container">
			<p>A space for my musings, from meaningless rants to amateur (many times stupid) philosophy.</p>
			<p>I am porting all my posts from Wordpress to here. Till then, head over to <a class="post-link" href="https://chinmaysavadikarrants.wordpress.com">https://chinmaysavadikarrants.wordpress.com</a> </p>
		</div>
		<ul class="posts">
			{% if site.rants %}
				{% for post in site.categories.rant %}
					<li>
					<span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
					<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					<br>
					</li>
				{% endfor %}
			{% endif %}
		</ul>
	</div>
</div><!-- /.home -->
