<div class="flex-row flex-wrap info-card padding-right margin-right-zero">
    <ul class="list-inline">
        <li class="list-inline-item"><a class="link" href="https://savadikarc.github.io">Home</a></li>
    </ul>
    <p class="about">I am a second year Ph.D. student at North Carolina State University advised by <a href="https://ece.ncsu.edu/people/twu19/">Dr. Tianfu Wu</a>. My research interest lies in Continual Learning, with broader interest in efficient and robust learning.</p>
    <p class="about">Prior to starting my Ph.D., I worked with the <a href="https://precisionsustainableag.org/">Precision Sustainable Agriculture</a> initiative at NC State to build Computer Vision and Software solutions for problems in agriculture.</p>
    <p class="about">I worked as a Machine Learning Engineer at Persistent Systems before coming back to academia. At Persistent, I worked on Deep Learning for Medical Imaging and large scale document recognition. I also spent some time developing internal SDKs for the Data Science team, and setting up MLOps frameworks.</p>
    <p class="about">Outside of research, I like <a href="https://www.goodreads.com/user/show/57336050-chinmay-savadikar" title="Goodreads">reading</a>, enjoy playing Football (I will not call it Soccer, sorry), listening to Oldies Rock Music, and binge watching TV shows. </p>
</div>