<img src="/assets/portrait.png" alt="Portrait" class="portrait img-fluid rounded-circle">
<h2>Chinmay Savadikar</h2>
<p class="card-subtitle info-card-subtitle">Ph.D. Student, <a href="https://ece.ncsu.edu/">Department of ECE</a></p>
<p class="card-subtitle info-card-subtitle">North Carolina State University</p>
<p class="card-subtitle info-card-email">csavadi [at] ncsu [dot] edu</p>
<div style="display: flex;">
    <div class="social-list">
    <ul class="nav text-center">
    
        <li class="nav-item">
        <a class="social-icon" href="https://github.com/savadikarc" title="Github">
                <i class="fa-brands fa-github"></i>
        </a>
        </li>
        
        <li class="nav-item">
        <a class="social-icon" href="https://twitter.com/savadikarc" title="Twitter">
                <i class="fa-brands fa-twitter"></i>
        </a>
        </li>
        
        <li class="nav-item">
        <a class="social-icon" href="https://scholar.google.com/citations?hl=en&user=0SpINWEAAAAJ" title="Google Scholar">
                <i class="ai ai-google-scholar-square"></i>
        </a>
        </li>

        <li class="nav-item">
        <a class="social-icon" href="https://www.linkedin.com/in/savadikar-chinmay" title="LinkedIn">
                <i class="fa-brands fa-linkedin"></i>
        </a>
        </li>

        <li class="nav-item">
        <a class="social-icon" href="/cv.pdf" title="CV">
                <i class="ai ai-cv-square"></i>
        </a>
        </li>
        
    </ul>
    </div>
</div>