<ul >
							
    <li class="nav-item">
        <a class="social-icon" href="/" title="Home">
                    <i class="fa fa-home"></i>
        </a>
    </li>

    <li class="nav-item">
        <a class="social-icon" href="{{ site.social._github.username | prepend: site.social._github.base }}" title="Github">
                    <i class="fa fa-github"></i>
        </a>
    </li>
    
    <li class="nav-item">
        <a class="social-icon" href="{{ site.social._twitter.username | prepend: site.social._twitter.base }}" title="Twitter">
                    <i class="fa fa-twitter"></i>
        </a>
    </li>
    
    <li class="nav-item">
        <a class="social-icon" href="{{ site.social._linkedin.username | prepend: site.social._linkedin.base }}" title="LinkedIn">
                    <i class="fa fa-linkedin"></i>
        </a>
    </li>
    
    <li class="nav-item">
        <a class="social-icon" href="mailto:savadikarc@gmail.com" title="Email">
                    <i class="fa fa-envelope"></i>
        </a>
    </li>
</ul>