.bg-highlight { background-color: rgb(242, 235, 253) !important;}
.bg-white { background-color: rgb(255, 255, 255) !important; }
.bg-foreground { background-color: rgb(240, 240, 255) !important;}
// .text-green { color: rgb(94, 24, 175) !important;}
.text-green { color: rgb(73, 18, 136) !important;}