// body {
// 	font-family: 'Actor' ;
// }

p {
    font-size: 18px;
    line-height: 1.2;
    color: #333;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

a {
	// font-size: 18px;
	text-decoration: none;
	color: rgb(44, 105, 176);
}

a:hover {
	text-decoration: underline;
	cursor: pointer ;
	color: rgb(44, 105, 176);
}
