.col-wrapper {
	height: 100vh;
}

.social-icon, .nav-content {
    color: rgba(255, 255, 255, 0.5)
}

.social-icon:hover {
    text-decoration: none;
}

.left-sidebar {
	text-align: center ;
	background: #343A40 ;
}

.left-sidebar p {
	color: rgba(255, 255, 255, 0.3);
}

.position-fixed-col {
	position: fixed !important ;
	margin: auto ;
}

@media (max-width: 576px){
    .position-fixed-col   {
        position:unset !important;
    }
}

.portrait {
	margin-top: 11% ;
}
.portrait-picture {
	border-radius: 50% ;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	// border: 5px solid rgba(255, 255, 255, 0.3) ;
}

.name {
	color: rgba(255, 255, 255, 0.5);
	margin-top: 5% ;
}

.media-list:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 7%; /* Change this to whatever width you want. */
    padding-top: 3%; /* This creates some space between the element and the border. */
    border-bottom: 2px solid rgba(255, 255, 255, 0.3); /* This creates the border. Replace black with whatever color you want. */
}

.media-list * {
	text-align: center;
	display: inline;
}

.header {
	padding-left: 1rem ;
	margin-top: 7%;
	// background: #ffffff ;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.title {
	padding-left: 1rem ;
	margin-top: 1%;
	// background: #ffffff ;
	// border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.title h1 {
	margin-bottom: 0rem;
}

.news {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	margin-right: 0.8rem;
	margin-left: 0.5rem;
}

.news p {
	display: inline;
	margin-left: 0.3rem;
	font-size: 15px;
}

.news-title {
	margin-left: 0.5rem;
}

.news a {
	font-size: 15px ;
}

/*Top navigation bar*/

.custom-nav {
	display: inline ;
	margin: auto ;
}

.nav-content {
	padding: 0 ;
	font-weight: bold ;
	margin-bottom: 0.5rm ;
}

.content-container {
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.card-content-container {
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popout-container {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.post-container {
	margin-top: 0.5% ;
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
}

.card-container {
	margin-bottom: 10px ;
}

.post-card {
	border: none ;
	border-radius: 0px ;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125) ;
	padding-bottom: 0.1% ;
}

.post-link:hover {
	color: #0056b3;
}

.blog-thumbnail {
	height: 100%;
}

.info-card {
	// border: 1px solid rgb(47, 47, 124);
	padding-left: 0.5rem;
	border: none;
}

.info-card-subtitle {
	padding-top: 5px;
}

.info-card-email {
	padding-bottom: 5px;
	padding-top: 10px;
	font-family: Courier;
}



// .news-container {
// 	display: flex;
// }

// .news-date, .news-description {
// 	flex: 1;
// }
