.col-wrapper {
	height: 100vh;
}

.social-icon, .nav-content {
    color: rgba(255, 255, 255, 0.5)
}

.social-icon:hover {
    text-decoration: none;
}

.left-sidebar {
	text-align: center ;
	background: #343A40 ;
}

.left-sidebar p {
	color: rgba(255, 255, 255, 0.3);
}

.position-fixed-col {
	position: fixed !important ;
	margin: auto ;
}

@media (max-width: 576px){
    .position-fixed-col   {
        position:unset !important;
    }
}

.portrait {
	margin-top: 11% ;
}
.portrait-picture {
	border-radius: 50% ;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.name {
	color: rgba(255, 255, 255, 0.5);
	margin-top: 5% ;
}

.media-list * {
	text-align: center;
	display: inline;
}

.header {
	margin-top: 5%;
}

.title {
	padding-left: 1rem ;
	margin-top: 1%;
}

.title h1 {
	margin-bottom: 0rem;
}

.news {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	margin-right: 0.8rem;
	margin-left: 0.5rem;
}

.news p {
	display: inline;
	margin-left: 0.3rem;
	font-size: 15px;
}

.news-title {
	margin-left: 0.5rem;
	width: 100%;
}

.news a {
	font-size: 15px ;
}

/*Top navigation bar*/

.custom-nav {
	display: inline ;
	margin: auto ;
}

.nav-content {
	padding: 0 ;
	font-weight: bold ;
	margin-bottom: 0.5rm ;
}

.content-container {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	margin-left: 0.01rem;
	margin-right: 0.01rem;
}

.bio {
    padding-left: 0.5rem;
}

.card-content-container {
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
}

.popout-container {
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.post-container {
	margin-top: 0.5% ;
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
}

.card-container {
	margin-bottom: 10px ;
}

.post-card {
	border: none ;
	border-radius: 0px ;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125) ;
	padding-bottom: 0.1% ;
}

.post-link:hover {
	color: #0056b3;
}

.blog-thumbnail {
	height: 100%;
}

// .info-card {
// 	padding-left: 0.5rem;
// 	border: none;
// }

.info-card-email {
	// padding-bottom: 5px;
	// padding-top: 10px;
	font-family: Courier;
}

.social-list, .nav-menu {
	font-size: 20px;
}

.links * {
	text-decoration: underline ;
	// Make text bold
	font-weight: bold ;
}

.links {
	margin-bottom: 0.5rem;
}

.border-bottom {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
