.col-wrapper {
	height: 100vh;
}

.social-icon, .nav-content {
    color: rgba(255, 255, 255, 0.5) ;
}

.social-icon:hover {
    text-decoration: none;
}

.left-sidebar {
	text-align: center ;
	background: #343A40 ;
}

.position-fixed-col {
	position: fixed !important ;
	margin: auto ;
}

@media (max-width: 576px){
    .position-fixed-col   {
        position:unset !important;
    }
}

.portrait {
	margin-top: 11% ;
}
.portrait-picture {
	border-radius: 50% ;
	-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, 0.3) ;
}

.first-name {
	color: rgba(255, 255, 255, 0.5);
	font-size: 30px ;
	margin-top: 5% ;
}

.media-list:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 7%; /* Change this to whatever width you want. */
    padding-top: 3%; /* This creates some space between the element and the border. */
    border-bottom: 2px solid rgba(255, 255, 255, 0.3); /* This creates the border. Replace black with whatever color you want. */
}

.media-list * {
	text-align: center;
	display: inline;
}

.header {
	padding-left: 1rem ;
	margin-top: 7%;
	background: #ffffff ;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/*Top navigation bar*/

.custom-nav {
	display: inline ;
	margin: auto ;
}

.nav-content {
	padding: 0 ;
	font-weight: bold ;
	margin-bottom: 0.5rm ;
}

/***************************
Posts
**************************/
.content-container {
	/*margin-top: 5% ;*/
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
}
.post-container {
	margin-top: 0.5% ;
	padding-top: 0.5rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
}

.card-container {
	margin-top: 2% ;
	margin-bottom: 2% ;
}

.card-block {
	padding-bottom: 0.1% ;
}

.card-title {
	letter-spacing: 0px;
	line-height: 1.3em;
	margin-bottom: -0.09rem ;
}

.card-subtitle {
	margin-top: 0px ;
}

.card-header {
	background: none ;
	padding: 0px 0px 0px 0px ;
}

.post-card {
	border: none ;
	border-radius: 0px ;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125) ;
	padding-bottom: 0.1% ;
}

.post-link {
	color: #0056b3;
}

.project-card {
	border: none ;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125) ;
	border-radius: 0px ;
	padding-bottom: 0.05% ;
}