body {
	margin: 60px auto;
}

.container-fluid {
	width: 78%;
}

.social-icon {
    color: #727272;
}

/*Top navigation bar*/
.top-bar {
	background: #FFFFFF ;
}

/* Posts Style*/
.post-header {
    margin-top: 12px;
}

.post-title {
	padding-bottom: 1%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;
	padding-left: 1rem;
}

.post-header .meta {
    font-size: 15px;
    color: #818181;
    line-height: 1;
    margin: 5px 0px 0px 0px;
}

.post-header h1 {
    line-height: 1;
    margin: 0px 0px 0px 0px;
}

.post {
	padding-top: 1%;
	padding-left: 1rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;
}

.post p {
    line-height: 1.2;
}

.homenav * {
	text-align: center;
	list-style: none;
}

.homenav-small ul {
	padding-left: 20px ;
}

.homenav-small * {
	text-align: center;
	list-style: none;
	display: none;
}

@media only screen and (max-width: 768px) {
	.homenav {
		display: none;
	}
	.homenav-small {
		border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;
	}
	.homenav-small * {
		display: inline;
	}
	.container-fluid {
		width: 95%;
	}
	.navbar-col {
		padding-left: 0px ;
	}
}

.position-fixed-col {
	position: sticky ;
	padding-top: 12px ;
	top: 0 ;
}

ul li p {
	margin-bottom: 0em;
}
