.bg-highlight { background-color: rgb(242, 235, 253) !important;}
.border-highlight { border: 1px solid; border-color: rgb(218, 208, 234) !important;}
.bg-white { background-color: rgb(255, 255, 255) !important; }
.bg-foreground { background-color: rgb(240, 240, 255) !important;}
.bg-news { background-color: rgb(235, 245, 252) !important;}
.border-news { border: 1px solid; border-color: rgb(218, 228, 235) !important;}
.text-foreground { color: rgb(73, 18, 136) !important;}
.text-black { color: rgb(0, 0, 0) !important;}
.text-small {font-size: 17px!important;}
.text-medium {font-size: 19px!important;}