.decorate-blue {
    background-color: #ebf5fc !important;
    border-radius: 0.5rem!important;
    border: 1px solid;
    border-color: #afcce1 !important;
}

.bg-blue {
    background-color: #ebf5fc !important;
}

.bg-purple {
    background-color: #f0f0ff !important;
}

.bg-yellow {
    background-color: #faf1cd !important;
}

.decorate-purple {
    background-color: #f0f0ff !important;
    border-radius: 0.5rem!important;
    border: 1px solid;
    border-color: #bba9d8 !important;
}

.decorate-yellow {
    background-color: #fdf9e8 !important;
    border-radius: 0.5rem!important;
    border: 1px solid;
    border-color: #b6b6b6 !important;
}

.decorate-white {
    border-radius: 0.5rem!important;
    border: 1px solid;
    border-color: #dfdfdf !important;
}

.pub-thumbnail {
    width: 100% ;
    border: 2px solid ;
}

a.links {
    text-decoration: underline ;
    font-weight: bold ;
}

.margin-right-zero {
    margin-right: -0.51rem ;
}