<!DOCTYPE html>

<html>
	<head>
		<title>{{ page.title }}</title>
		
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	
	<body>
		
		<div class="col-wrapper">
			
			<div class="left-sidebar">
				<img class="portrait-picture" src="/assets/self_starry_night.png" height="200px" width="200px" title="Stylized Me">
				
				<ul class="web-presence-list">
				
					<li>
						<a href="{{ site.social._github.username | prepend: site.social._github.base }}" title="Github">
							{% if site.social.icons == "original" %}
								<span class="github-icon">
									<img class="icon" src="/assets/GitHub-Mark-32px.png">
								</span>
							{% else %}
								<svg class="svg-icon">
									<use xlink:href="/assets/minima-social-icons.svg#github">
									</use>
								</svg>
							{% endif %}
						</a>
					</li>
					
					<li>
						<a href="{{ site.social._twitter.username | prepend: site.social._twitter.base }}" title="Twitter">
							{% if site.social.icons == "original" %}
								<span class="twitter-icon">
									<img class="icon" src="/assets/Twitter_Logo_Blue.png">
								</span>
							{% else %}
								<svg class="svg-icon">
									<use xlink:href="/assets/minima-social-icons.svg#twitter">
									</use>
								</svg>
							{% endif %}
						</a>
					</li>
					
					<li>
						<a href="{{ site.social._linkedin.username | prepend: site.social._linkedin.base }}" title="LinkedIn">
							{% if site.social.icons == "original" %}
								<span class="linkedin-icon">
									<img class="icon" src="/assets/linkedin_logo.png">
								</span>
							{% else %}
								<svg class="svg-icon">
									<use xlink:href="/assets/minima-social-icons.svg#linkedin">
									</use>
								</svg>
							{% endif %}
						</a>
					</li>
					
				</ul>
				
			</div>
			
			<div class="container">
				<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/rants">Rants</a></li-->
        		{% if site.show_cv %}
        			<li><a href="/cv">CV</a></li>
        		{% endif %}
    		</ul>
		</nav>
			
				{{ content }}
			</div>
			
		</div>
		
	</body>

</html>
