<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/posts.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/rants">Rants</a></li-->
        		<!--li><a href="/blog">Blog</a></li-->
    		</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
			<ul>
				<li>
					<a href="{{ site.social._github.username | prepend: site.social._github.base }}" title="Github">
						{% if site.social.icons == "original" %}
							<span class="github-icon">
								<img class="icon" src="/assets/GitHub-Mark-32px.png">
							</span>
						{% else %}
							<svg class="svg-icon">
								<use xlink:href="/assets/minima-social-icons.svg#github">
								</use>
							</svg>
						{% endif %}
					</a>
				</li>
				<li>
					<a href="{{ site.social._twitter.username | prepend: site.social._twitter.base }}" title="Twitter">
						{% if site.social.icons == "original" %}
							<span class="twitter-icon">
								<img class="icon" src="/assets/Twitter_Logo_Blue.png">
							</span>
						{% else %}
							<svg class="svg-icon">
								<use xlink:href="/assets/minima-social-icons.svg#twitter">
								</use>
							</svg>
						{% endif %}
					</a>
				</li>
				
				<li>
					<a href="{{ site.social._linkedin.username | prepend: site.social._linkedin.base }}" title="LinkedIn">
						{% if site.social.icons == "original" %}
							<span class="linkedin-icon">
								<img class="icon" src="/assets/linkedin_logo.png">
							</span>
						{% else %}
							<svg class="svg-icon">
								<use xlink:href="/assets/minima-social-icons.svg#linkedin">
								</use>
							</svg>
						{% endif %}
					</a>
				</li>
				
			</ul>
		</footer>
	</body>
</html>
