<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/rants">Rants</a></li-->
	        		<!--li><a href="/blog">Blog</a></li-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<ul>
					<li>
						<a href="https://github.com/savadikarc">
							<span class="github-icon">
							<img class="icon" src="/assets/GitHub-Mark-32px.png">
							</span>

							<!--span class="uname">savadikarc</span-->
						</a>
					</li>
					<li>
						<a href="https://twitter.com/savadikarc">
							<span class="twitter-icon">
							<img class="icon" src="/assets/Twitter_Logo_Blue.png" height="32px" width="32px">
							</span>

							<!--span class="uname">@savadikarc</span-->
						</a>
					</li>
				</ul>
			</footer>
		</body>
	</html>
