<!DOCTYPE html>

<html>
	<head>
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/default.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
	</head>
	
	<body>
		
		<div class="container-fluid">
		
			<div class="row col-wrapper">
				
				<div class="col-sm-3 col-sm-pull3 left-sidebar">
				
					<div class="position-fixed-col col-sm-3">
			
						<div class="row portrait">
							<div class="col">
								<img class="img-fluid portrait-picture" src="/assets/portrait_cropped.png" height="200px" width="200px">
							</div>
						</div>
					
						<div class="row">
							<div class="col">
									<h1 class="name">Chinmay Savadikar</p>
							</div>
						</div>
						
						<div class="row">
							<div class="col media-list">
								<ul class="nav">
								
									<li class="nav-item">
										<a class="social-icon" href="{{ site.social._github.username | prepend: site.social._github.base }}" title="Github">
													<i class="fa fa-github"></i>
										</a>
									</li>
									
									<li class="nav-item">
										<a class="social-icon" href="{{ site.social._twitter.username | prepend: site.social._twitter.base }}" title="Twitter">
													<i class="fa fa-twitter"></i>
										</a>
									</li>
									
									<li class="nav-item">
										<a class="social-icon" href="{{ site.social._linkedin.username | prepend: site.social._linkedin.base }}" title="LinkedIn">
													<i class="fa fa-linkedin"></i>
										</a>
									</li>
									
									<li class="nav-item">
										<a class="social-icon" href="mailto:savadikarc@gmail.com" title="Email">
													<i class="fa fa-envelope"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
						
						<div class="row">
							<nav class="navbar navbar-expand-md bg-dark navbar-dark custom-nav">
								<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
									<span class="navbar-toggler-icon"></span>
								</button>
								<div class="col nav-container collapse navbar-collapse" id="collapsibleNavbar">
									<ul class="navbar-nav custom-nav">
										<li class="nav-item"><a class="nav-content" href="/" {% if page.url == "/" %}style="text-decoration: underline;"{% endif %}>Home</a></li>
										<li class="nav-item"><a class="nav-content" href="/projects" {% if page.url == "/projects/" %}style="text-decoration: underline;"{% endif %}>Projects</a></li>
										<li class="nav-item"><a class="nav-content" href="/publications" {% if page.url == "/publications/" %}style="text-decoration: underline;"{% endif %}>Publications</a></li>
										<li class="nav-item"><a class="nav-content" href="/blog" {% if page.url == "/blog/" %}style="text-decoration: underline;"{% endif %}>Blog</a></li>
										<li class="nav-item"><a class="nav-content" href="/cv.pdf">CV</a></li>
									</ul>
								</div>
							</nav>
						</div>
						
					</div>
						
				</div>
				
				<div class="col-sm-9 col-sm-push-9 main-content">
					
						{{ content }}

				</div>
			
			</div>	
			
		</div>
		
	</body>

</html>
