<!DOCTYPE html>

<html>
	<head>
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link href="assets/css/fontawesome/css/fontawesome.css" rel="stylesheet">
		<link href="assets/css/fontawesome/css/brands.css" rel="stylesheet">
		<link href="assets/css/fontawesome/css/solid.css" rel="stylesheet">
		<link href="assets/css/theme.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/assets/css/default.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
	</head>
	
	<body>
		<div class="container-fluid">
			<div class="row col-wrapper">
				<div class="col-sm-3 col-sm-pull3 left-sidebar">
					<div class="position-fixed-col col-sm-3">
						<div class="row portrait">
							<div class="col">
								<img class="img-fluid portrait-picture" src="/assets/portrait.png" height="200px" width="200px">
							</div>
						</div>
					
						<div class="row">
							<div class="col">
									<h2 class="name">Chinmay Savadikar</p>
							</div>
						</div>
						
						<div class="row">
							<div class="col media-list">
								<ul class="nav social-list">
								
									<li class="nav-item">
										<a class="social-icon" href="{{ site.social.github.username | prepend: site.social.github.base }}" title="Github">
													<i class="fa-brands fa-github"></i>
										</a>
									</li>
									
									<li class="nav-item">
										<a class="social-icon" href="{{ site.social.twitter.username | prepend: site.social.twitter.base }}" title="Twitter">
													<i class="fa-brands fa-twitter"></i>
										</a>
									</li>
									
									<li class="nav-item">
										<a class="social-icon" href="{{ site.social.linkedin.username | prepend: site.social.linkedin.base }}" title="LinkedIn">
													<i class="fa-brands fa-linkedin"></i>
										</a>
									</li>
									<li class="nav-item">
										<a rel="me" class="social-icon" href="{{ site.social.mastodon.username | prepend: site.social.mastodon.base }}" title="Mastodon">
													<i class="fa-brands fa-mastodon"></i>
										</a>
									</li>
									
								</ul>
							</div>
						</div>
						
					</div>
						
				</div>
				
				<div class="col-sm-9 col-sm-push-9 main-content">
					
						{{ content }}

				</div>
			
			</div>	
			
		</div>
		
	</body>

</html>
