<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link href='https://fonts.googleapis.com/css?family=Actor' rel='stylesheet'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/posts.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
		
		<!--mathjax-->
		{% if page.mathjax %}
			<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
		{% endif %}
		
	</head>

	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-1 navbar-col">
					<div class="position-fixed-col col-1 homenav">
						{% include post-navbar.html %}
					</div>
				</div>

				<div class="col-sm-11">
					
					<div class="top-bar sticky-top">
						<div class="row">
							<div class="col">
								<div class="homenav-small">
									{% include post-navbar.html %}
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col post-header">
								<div class="post-title">
									<h1>{{ page.title }}</h1>
									{% for badge in page.badges %}
										<a href="{{ badge.url }}">
											<img src="https://colab.research.google.com/assets/colab-badge.svg" alt="{{ badge.name }}"/>
										</a>
									{% endfor %}
									{% if page.repository %}
										<a href="{{ page.repository }}" title="Github" style="color: #000000">
													<i class="fa fa-github"></i>
										</a>
									{% endif %}
								</div>
								
							</div>
						</div>
					</div>
					
					{{ content }}
					
				</div>
			</div>
		</div>
	</body>
</html>
